body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#header{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

textarea{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  background-color: ;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Description text area */
.description{
  white-space: pre-wrap;
}


.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}


.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Color designation for past event */
.past {
  background-color: #d3d3d3;
  color: black;
  font-weight: bold;
}

/* Color designation for current event */
.present {
  background-color: #ff6961;
  color: black;
  font-weight: bold;
}

/* Color designation for future events */
.future {
  background-color: #77dd77;
  color: black;
  font-weight: bold;
}

/* Save Button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* Save Button Hover */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* Weather Input */
.input {
  text-align: center;
  margin: 100px 0;
}

/* City Input */
input[type="text"]{
  height: 50px;
  width: auto;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
}

 /* Weather Submit button */
input[type="submit"]{
  height: 50px;
  width: 100px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}

/* Weather display */ 
.display {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  margin: 20px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}